div{
    width: 300px;
    margin: 30px;
}
div{

    border-style: dotted;
    border-top-style: dashed;
    border-bottom-style: double  ;
    border-width: 5px;
    border-color: blueviolet;
}

div{
    padding: 100px 40px;
    display: inline-block;
}
